body{
    background-color:black;
    color:white;
    background-size: cover;
}
.wrap{
  display:flex;
  justify-content:center;
}
li button{
    display:none;
  }
  li:hover button{
    display:inline;
  }
